jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code (JCasC)"

credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              scope: GLOBAL
              id: "gitlab-creds"
              description: "GitLab Access Token for Jenkins"
              secret: "{{ gitlab_api_pat }}"

          - usernamePassword:
              scope: GLOBAL
              id: "nexus-creds"
              description: "Nexus Credentials"
              username: "admin"
              password: "{{ nexus_password }}"

          - basicSSHUserPrivateKey:
              scope: GLOBAL
              id: "vm-ssh-creds"
              description: "SSH Credentials for VM"
              username: "root"
              privateKeySource:
                directEntry:
                  privateKey: |
                    {{ ssh_private_key | indent(20) }}

jobs:
  - script: >
      pipelineJob('Deploy-to-VM') {
        parameters {
          stringParam('NEXUS_VM_IP', '', 'IP address of the Nexus VM')
          stringParam('NODEJS_VM_IP', '', 'IP address of the Node.js VM')
        }
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://gitlab.com/ArmaKeoN/DevStream360.git')
                  credentials('gitlab-creds')
                }
                branches('*/main')
              }
            }
            scriptPath('./jenkins/Jenkinsfile')
          }
        }
      }
